.profile__info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 22.25px auto 14px;
}

@media screen and (min-width: 880px){
    .profile__info {    
    min-width: 336px;
    justify-content: center;
    margin: 0 0 0 20px;
    }  
}